*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}
body{
    
    
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.opt-area{
    color: white;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #7ed6df; */
    /* background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%); */
    /* background: red; */
    background-image: url("./newspaper-412452_1280.jpg"); 
}
.opt{
    font-size: larger;
    border: 4px solid white;
    width: 40%;
    margin: 1.5rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}


#me{
    position: fixed;
    top: 587px;
    padding-bottom: 0;
    background-image: url("./jc-gellidon-0jSZu_eTjXg-unsplash.jpg"); 
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

